<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the Poke</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <div class="container">
          <h1>Guess the Poke</h1>
          <p>Can you catch 'em all with just one guess?</p>
          <a href="/signup.html" class="btn">Sign-up</a>
          <a href="/login.html" class="btn">Login</a>
        </div>
    </main>
      <!-- <footer>
        <h3>Get In Touch</h3>
        <p>
          <strong>contact@abc.com</strong>
        </p>
        <p>
          <strong>(91) 222-222-2222</strong>
        </p>
      </footer> -->
    <script src="script.js"></script>
</body>
</html>