<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles2login.css">
</head>
<body>
    <main>
        <form action="userForm">
            <div class="container-box">
                <h2>Login</h2>
                <input type="text" class="username" placeholder="User Name" required>
                <input type="password" class="password" placeholder="Password" required>
                <button class="btn">SUBMIT</button>
            </div>            
        </form>
    </main>
</body>
</html>