<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <link rel="stylesheet" href="styles1.css">
</head>
<body>
    <main>
        <form action="userForm">
            <div class="container-box2">
                <div class="containersign-up">
                    <h2>Sign-up</h2>
                    <input type="text" class="firstName" placeholder="First Name" required>
                    <input type="text" class="lastName" placeholder="Last Name">
                    <input type="text" class="userName" placeholder="userName" required>
                    <input type="email" class="email" placeholder="Email" required>
                    <input type="password" class="password" placeholder="Password" required>
                </div>
                <div class="container2sign-up">
                    <button class="btn">SUBMIT</button>
                </div>
            </div>            
        </form>
    </main>
</body>
</html>